
  .btn-1{
    width: 232px;
    height: 48px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #1b88f4;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
  }

  .btn-2{
    width: 292px;
    height: 48px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #1b88f4;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
  }