.btn-1 {
  width: 232px;
  height: 48px;
  font-size: 16px;
  border-radius: 12px;
  background-color: #1b88f4;
  color: #ffffff;
  border: none;
  cursor: pointer;
  
  @media (max-width: 1024px) {
    width: 200px;
    height: 40px;
    font-size: 14px;
  }

  @media (max-width: 768px) {
    width: 200px;
    height: 40px;
    font-size: 14px;
  }

  @media (max-width: 480px) {
    width: 150px;
    height: 40px;
    font-size: 12px;
  }
}

.btn-2 {
  width: 292px;
  height: 48px;
  font-size: 16px;
  border-radius: 12px;
  background-color: #1b88f4;
  color: #ffffff;
  border: none;
  cursor: pointer;

  @media (max-width: 1024px) {
    width: 250px;
    height: 40px;
    font-size: 14px;
  }

  @media (max-width: 768px) {
    width: 220px;
    height: 40px;
    font-size: 14px;
  }

  @media (max-width: 480px) {
    width: 200px;
    height: 40px;
    font-size: 12px;
    }
}
