.main-container {

    width: 1024px;
    height: 255px;
    display: flex;

    .left-container {

        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: center;

        img {
            width: 141px;
            height: 103px;
        }

        span {
            font-size: 13px;
            color: #626E79;
        }
    }

    .middle-container {
        width: 490px;
        height: 72px;
        font-size: 16px;
        line-height: 24px;
        color: #4B5665;

        span {
            font-size: 17px;
            font-weight: 600;
            color: #435269;
        }

        p{
            
        }

        h5 {
            font-size: 16px;
            color: #2C384A;
        }
    }

    .right-container {

        display: flex;
        width: 232px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .rating-container {
            width: 135px;
            height: 118px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            background-color: #F3F9FF;


            span:nth-child(1) {
                color: #074786;
                font-size: 32px;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            span:nth-child(2) {
                color: #074786;
                font-size: 14px;
            }

            span:nth-child(3) {
                color: FFB80F;
                font-size: 11px;
            }

        }


    }

    .btn {
        width: 232px;
        height: 48px;
        border: none;
        border-radius: 12px;
        background-color: #1B88F4;
        font-size: 16px;
        color: #FFFFFF;
    }
}