*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Arial, sans-serif;
}

body{
   background-color: #FBFCFD;
   font-weight: 400;
   
}

.app-container{
  max-width: 1024px;
  margin: auto;
}

*:focus {
  outline: none;
}